<% include ./partials/header %>

<div class="ui huge header">New User</div>

<form action="/register" method="POST">

    <div class=container>
        <div class=row>
            <div class="col-lg-3 col-med-2 col-sm-1 col-xs-0"></div>
            <div class="col-lg-6 col-med-8 col-sm-10 col-xs-12">
            
                <div class="form-group">
                    <label for="title">Username</label>
                    <input type="text" class="form-control" id="title" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
                
                <center><input class="btn btn-primary center" type="submit"></center>
           
            </div>
            <div class="col-lg-3 col-med-2 col-sm-1 col-xs-0"></div>
        </div>
    </div>
</form>

<% include ./partials/footer %>